# scripts directory
DRUPAL_SCRIPTS_ROOT="/usr/local/bin"

# drs module-doc
DOCS_FILE="example-data/modules.txt"

# drs modules-enabled, cache in minutes
MODULES_CACHE_TIME=10

# drs add-users
USERS_LIST_FILE="example-data/users.txt"
USERS_DEFAULT_ROLE="administrator"
