# scripts directory
DRUPAL_SCRIPTS_ROOT="/usr/local/bin"

# drupal-module-doc
DOCS_FILE="example-data/modules.txt"

# drupal-add-users
USERS_LIST_FILE="example-data/users.txt"
USERS_DEFAULT_ROLE="администратор"

# root path for bats tests
TEST_ROOT_PATH=""
